# MATH 210 Introduction to Mathematical Computing

## January 13, 2017

1. Basic Python
  * Numeric types: integer (`int`) and float (`float`)
  * Variables and the assignment operator `=`
  * Print function
  * Lists (`list`)
  * Tuples (`tuple`)
  * List comprehensions
  * Built-in functions: `sum`, `max`, `min`, `len` and `sorted`
2. Exercises

## 1. Basic Python

Let's dive into Python! We'll start with some of the most common datatypes: integer, float, list and tuple. Check out the [documentation](https://docs.python.org/3/tutorial/index.html).

### Numeric types: integer and float

Last time, we saw integers and floats and the various arithmetic operations.

In [1]:
3*4

12

In [2]:
11.111 / 99.123

0.11209305610201467

In [3]:
type(100)

int

In [4]:
type(1.2345)

float

### Variables

We can store data in variables using the assignment operator `=`. Check out the [Python visualizer](http://www.pythontutor.com/visualize.html) to see what happens when we define and use variables.

In [5]:
x = 2

In [6]:
x

2

In [7]:
y = 3

In [8]:
x*y

6

In [9]:
1 + x + x**2 + x**3

15

We can use any set of letters, numbers and underscores to make variable names but **the name must begin with a letter.**

In [10]:
number = 3.14159

In [11]:
number**2

9.869587728099999

In [12]:
another_number = 2.176

In [13]:
number * another_number

6.83609984

In [14]:
number_is_9 = 9

In [15]:
number_is_9

9

**WARNING: There are many reserved words in Python that you must avoid as variable names.** See the list of [builtin functions](https://docs.python.org/3/library/functions.html) and [keywords](https://docs.python.org/3/reference/lexical_analysis.html#keywords).

For example, below we'll use the `print` function to display output. Do not use the word `print` as a variable name! Otherwise the print function will be lost and replaced with your new variable name.

### Print function

Notice that when several expressions are computed in a code cell, only the last expression is displayed in output.

In [16]:
1 + 2
3 + 4
5 + 6

11

Use the `print` function to display variables, values, etc.

In [17]:
print(1 + 2)
print(3 + 4)
print(5 + 6)

3
7
11

Notice that `print` turns green in the cell. This is Python's way of telling us that this is a keyword in Python. **DO NOT USE KEYWORDS AS VARIABLE NAMES!!!**

### Lists

[Lists](https://docs.python.org/3/library/stdtypes.html#lists) can hold any kind of datatype. Use square brackets to define a list.

In [18]:
[1,2,3]

[1, 2, 3]

In [19]:
[1,1.0,0,0.0]

[1, 1.0, 0, 0.0]

We access the elements of a list using the square bracket index syntax.

In [20]:
a_list = [2,3,5,7,11,13,17,19,23,29]

In [21]:
a_list[0]

2

Notice that lists are indexed starting at 0.

In [22]:
print(a_list[1])
print(a_list[2])
print(a_list[6])

3
5
17

We can also use negative indices to access elements starting from the end of the list:

In [23]:
print(a_list[-1])
print(a_list[-2])

29
23

We can access a sublist (called a slice) using the `:` syntax:

In [24]:
print(a_list[4:7])
print(a_list[3:])

[11, 13, 17]
[7, 11, 13, 17, 19, 23, 29]

In [25]:
new_list = [1,3.21,[9,8,7,6]]

In [26]:
new_list

[1, 3.21, [9, 8, 7, 6]]

Lists can hold any kind of datatype!

In [27]:
new_list[2][2]

7

Lists have many methods to transform them. The method we'll use most often is `.append`.

In [28]:
new_list.append(-1)

In [29]:
new_list

[1, 3.21, [9, 8, 7, 6], -1]

See more features of lists in the [documentation](https://docs.python.org/3/tutorial/introduction.html#lists)!

### Tuples

[Tuples](https://docs.python.org/3.6/tutorial/datastructures.html#tuples-and-sequences) are a special kind of list. The differences between them are a bit technical and we won't get into them here. The syntax to create a tuple is to use round parentheses.

In [30]:
a_tuple = (1,1.1,1.11,1.111)

In [31]:
print(a_tuple)

(1, 1.1, 1.11, 1.111)

In [32]:
a_tuple[0]

1

In [33]:
a_tuple[-1]

1.111

One difference is that tuples are immutable. They can't be changed! But lists can be changed.

In [34]:
print(a_tuple)

(1, 1.1, 1.11, 1.111)

In [35]:
print(a_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

We can change the 2 element in the `a_list`:

In [36]:
a_list[1] = 1000

In [37]:
print(a_list)

[2, 1000, 5, 7, 11, 13, 17, 19, 23, 29]

But we get an error if we try to change an element in a tuple:

In [39]:
a_tuple[1] = 1000

TypeError: 'tuple' object does not support item assignment

### List comprensions

It's very inefficient to create a list manually. For example, typing out the numbers from 1 to 14 takes a long time!

In [40]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

Python has a very beautiful method for creating lists called a [list comprehension](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions):

In [41]:
numbers = [n for n in range(1,15)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

The syntax is

```
[expression for variable in iterable]
```

where `iterable` means anything that is like a sequence such as a list or a tuple. For example, we can make a list consisting of the last element of each sublist in a list of lists!

In [42]:
[sublist[-1] for sublist in [[0,1,2,3],[1,1,1],[9,8,7,6]]]

[3, 1, 6]

It is common to use the builtin function `range` to create a [range object](https://docs.python.org/3/library/functions.html#func-range) which is a very efficient kind of list:

In [43]:
type(range(0,10))

range

But we can always convert a range object to a list using the builtin [list function](https://docs.python.org/3/library/functions.html#func-list):

In [44]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Let's create the list of squares from $1$ to $100^2$ using a list comprehension:

In [45]:
squares = [digit**2 for digit in range(1,101)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

### Builtin Functions

We've already seen the builtin `print` function as well as `list` and `range`. There are many other functions in the [standard Python library](https://docs.python.org/3/library/functions.html). For example, `sum` adds the elements in a list.

In [46]:
sum([1,2,3,4,5])

15

Let's compute part of Euler's famous formula:

$$
\frac{\pi^2}{6} = \sum_{k = 1}^{\infty} \frac{1}{k^2}
$$

In [47]:
N = 100000
terms = [1/k**2 for k in range(1,N)]
approx = sum(terms)
print(approx)

1.6449240667982423

The variable `approx` should be close to $\pi^2 / 6$ which we can verify:

In [48]:
(approx*6)**0.5

3.141583104230963

The functions [`max`](https://docs.python.org/3/library/functions.html#max) and [`min`](https://docs.python.org/3/library/functions.html#min) find the maximum and minimum values in a list or tuple:

In [49]:
numbers = [1 + 4*x - x**2 for x in range(-5,6)]
print(numbers)

[-44, -31, -20, -11, -4, 1, 4, 5, 4, 1, -4]

In [50]:
max(numbers)

5

In [51]:
min(numbers)

-44

The function [`len`](https://docs.python.org/3/library/functions.html#len) returns th length of a list:

In [52]:
new_list = [0 for _ in range(0,33)]
print(new_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [53]:
len(new_list)

33

The function [`sorted`](https://docs.python.org/3/library/functions.html#sorted) returns the sorted list:

In [54]:
sorted(numbers)

[-44, -31, -20, -11, -4, -4, 1, 1, 4, 4, 5]

## 2. Exercises

**Exercise 1.** The Maclaurin series of $\arctan(x)$ is

$$
\arctan(x) = \sum_{n = 0}^{\infty} \frac{(-1)^nx^{2n + 1}}{2n+1}
$$

Substituting $x = 1$ gives a series representation of $\pi/4$. Compute the 5000th partial sum of the series to approximate $\pi/4$.

**Exercise 2.** Compute the 2000th partial sum of the series: $$\sum_{n=1}^{\infty}\frac{(-1)^n}{n}$$

**Exercise 3.** What happens when you add lists using the `+` operator? Try `[1,2,3] + [3,2,1]`. Is the output what you expected?

**Exercise 4.** Write a list comprehension to create the list (of length 100):

```
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
```

(Hint: Use the modulo operator `%`.)

**Exercise 5.** Write a list comprehension to create the list:

```
[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39]
```

(Hint: Use the quotient operator `//`.)

**Exercise 6.** Write a list comprehension to create the list of lists:

```
[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81], [10, 100], [11, 121],
[12, 144], [13, 169], [14, 196], [15, 225], [16, 256], [17, 289], [18, 324], [19, 361], [20, 400], [21, 441],
[22, 484], [23, 529], [24, 576], [25, 625], [26, 676], [27, 729], [28, 784], [29, 841], [30, 900]]
```